sysyruntimelibrary/
sysyruntimelibrary-master/
autotest*/
/*.sh
*.out*
/*.sy
*.txt
/*compiler
test/*
!test/test_*.sy
docs/
# .gitignore
# src/parser.cpp
# src/parser.hpp
# src/scanner.c
src/struct.h
src/asm.cpp
src/main2.cpp
src/ast_*
# *_struct.*
.vscode/
arm_code.s
official_test/
*.s
temp*
libsysy*
/test*