sysyruntimelibrary/
sysyruntimelibrary-master/
/*.sh
*.out*
/*.sy
*.txt
/mycompiler
test/*
!test/test_*.sy
docs/
# .gitignore
src/parser.cpp
src/parser.hpp
src/scanner.c
src/struct.h
src/asm.cpp
src/main2.cpp
src/ast_*
# *_struct.*
.vscode/
arm_code.s
official_test/